$underlineCol: #ff3103;
$Font: 'Fresca', sans-serif;
$headingFont: 'Sourse Sans Pro', sans-serif;
$textColor: rgba(255, 255, 255, 0.9);
$lightTextColor: rgba(255, 255, 255, 0.7);
$lightHeaderColor: rgba(255, 255, 255, 0.9);
$buttonCol: #ebb328;
$headerBackground: url(../img/m-h-night.jpg);
$bannerCol: #a84769;
$bodyBgCol: rgba(0, 0, 0, 0.9);
$map-background: ('darkblue': #1a2338);
$map-background: ('darkblue': #1a2338);
$lineH: 1.9;