$underlineCol: rgb(56,150,199);
$Font: 'Hind', sans-serif;
$headingFont: 'Sourse Sans Pro', sans-serif;
$textColor: rgba(0, 0, 0, 0.7);
$lightTextColor: rgba(255, 255, 255, 0.7);
$lightHeaderColor: rgba(255, 255, 255, 0.9);
$buttonCol: #9ACD32;
$headerBackground: url(../img/m-h-day.jpg);
$bannerCol: #4169E1;
$bodyBgCol: rgba(255, 255, 255, 0.9);
$map-background: ('darkblue': #1a2338);
$lineH: 1.3;